<div class="container">
  <div class="col-lg-12">
    <h1>Logowanie</h1>

    <mat-card-content>
      <form class="example-form">
          <div class="row">
            <div class="col-lg-12">
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="Użytkownik" [(ngModel)]="username" name="username" required>
                </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12">
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Hasło" [(ngModel)]="password"type="password" name="password" required>
                  </mat-form-field>
            </div>
          </div>
      </form>
      <mat-spinner [style.display]="showSpinner ? 'block' : 'none'"></mat-spinner>
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button (click)="login()" color="primary">Login</button>
      </mat-card-actions>
  </div>
</div>